
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
  <style>
  .map {
      position: absolute;
      top: 0px;
      left: 0px;
      width:100%;
      height:500px;
      border: 1px solid #4D2722;
      z-index:0;
  }
  </style>
  <title></title>
</head>
<body class=" p-3 mb-2 bg-light text-dark">
	{% block nav %}

		<!-- <nav class="navbar navbar-expand-lg fixed-top navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 bg-white rounded">
		  <div class="container-fluid">
		  	<div class="container">
		  		<div class="row navbar-nav">
				    <div class="navbar-header">
				      <a class="navbar-brand" href="#">Knowhere</a>
				    </div>
				    
				    <div class="col nav-item active"><a class="nav-link" href="{% url 'company_list'%}">Home</a></div>
				    <ul class="nav navbar-nav navbar-right">
				    	{% if user.is_authenticated %}				   
					   
					      <li><a href = "{% url 'user_log_out'%}"><button class="btn btn-primary my-2 my-sm-0 mr-3">Log Out</button></a></li>
					      <li><a href = "#"><button class="btn btn-primary my-2 my-sm-0">Profile</button></a></li>

					    {% else %}
					      <li><a href = "{% url 'user_sign_up'%}"><button class="btn btn-primary my-2 my-sm-0 mr-3">Register</button></a></li>
					      <li><a href = "{% url 'user_log_in'%}"><button class="btn btn-primary my-2 my-sm-0">Log In</button></a></li>
					    {% endif %}
				    </ul>
				</div>			
			</div>
		  </div>
		</nav>
 -->

		<nav class="navbar navbar-expand-lg fixed-top navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 bg-white rounded">
			<div class="container-fluid mx-3">
			  <a class="navbar-brand" href="{% url 'company_list'%}">Knowhere</a>

			  
			    <div class="navbar-nav mr-auto">
			      
			        <a class="nav-link" href="{% url 'company_list'%}">Home <span class="sr-only">(current)</span></a>
    			</div>

				{% if user.is_authenticated %}				   
			   
			      <a href = "{% url 'user_log_out'%}"><button class="btn btn-primary my-2 my-sm-0 mr-3">Log Out</button></a>
			      <a href = "#"><button class="btn btn-primary my-2 my-sm-0">Profile</button></a>

			    {% else %}
			      <a href = "{% url 'user_sign_up'%}"><button class="btn btn-primary my-2 my-sm-0 mr-3">Register</button></a>
			      <a href = "{% url 'user_log_in'%}"><button class="btn btn-primary my-2 my-sm-0">Log In</button></a>
			    {% endif %}

			</div>
		</nav>
{% endblock %}
	
	<br><br><br>

			{% if messages %}
				{% for message in messages %}
				{{message}}
				{% endfor %}
			{% endif %}
			{% block body %}

			{% endblock %}

<br><br><br><br><br>

		
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</body>
</html>


