{% extends 'company/index.html' %}

{% block title %}
  homepage
{% endblock %}

{% block nav %}
			{% if user.is_authenticated %}
			<div class="row">
					<div class="column">
						<a href = "{% url 'user_log_out'%}"><button class="btn btn-primary mr-3" > Log Out </button></a>
					</div>
					<div class="column">
						<a href = "#"><button class="btn btn-primary"> Profile </button></a>
					</div>
				</div>

				{% else %}
				<div class="row">					
					<div class="column">
						<a href = "{% url 'user_log_in'%}"><button class="btn btn-primary mr-3"> Log In </button></a>
					</div>
					<div class="column">
						<a href = "{% url 'user_sign_up'%}"><button class="btn btn-primary"> Register </button></a>
					</div>
				</div>
			{% endif %}

{% endblock %}

{% block body %}
<style>
  .thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 50%;
    left: 35%;
}
input:placeholder-shown{
	background-color:  #ffffff!important;
}
</style>

<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img src="/static/display.png" width="100%" alt="My image" class="img-responsive">
        <div class="caption">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-lg-2 bg-transparent text-white mx-sm-5" type="search"
                placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </div>
</div>

  <h1><center>Featured Products </center></h1>
  {% for img in imgs %}
    {{img.image_name}}


  <div class="container">
      <div class="row">
        <div class="column">
          <img src="{{img.photo.url}}" style="width:300px; padding:20px;" class="img-rounded" alt="scroll didnt load">
        </div>
      </div>

  {% endfor %}
{% endblock %}






